.gradle
local.properties
.idea/workspace.xml
.idea/libraries
.DS_Store
build

androidffmpeglibrary/.gradle
androidffmpeglibrary/local.properties
androidffmpeglibrary/.idea/workspace.xml
androidffmpeglibrary/.idea/libraries
androidffmpeglibrary/.DS_Store
androidffmpeglibrary/build

framework/.gradle
framework/local.properties
framework/.idea/workspace.xml
framework/.idea/libraries
framework/.DS_Store
framework/build

smartPagerAndroid/.gradle
smartPagerAndroid/local.properties
smartPagerAndroid/.idea/workspace.xml
smartPagerAndroid/.idea/libraries
smartPagerAndroid/.DS_Store
smartPagerAndroid/build

